.title {
    text-align: center;
    margin-bottom: 64px;
}

.dice {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

img {
    width: 128px;
    height: 128px;
    margin: 10px;
}