.title {
    text-align: center;
    margin-bottom: 32px;
}

.dice-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.die {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 32px;
}

.dice-name {
    display: flex;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin: 10px;
}

img {
    display: flex;
    width: 128px;
    height: 128px;
    justify-content: center;
}

.toggle-options {
    justify-content: center;
}

.total {
    text-align: center;
    width: 64px;
}

.roll {
    text-align: center;
    margin: 16px;
}

textarea {
    resize: none;
    width: 95%
}

/* border:5px solid #000000; padding:3px; margin:5px; */